<%= render partial: "shared/navbar" %>

<h1>Update account</h1>

<!-- Displays errors in creating an account -->
<% unless @user.nil? %>
  <% if @user.errors.any? %>
    <h2>Please resolve the following <%= pluralize(@user.errors.count, "error") %>:</h2>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>

<form action="/users/<%= @user.username %>" method="post">
  <label for="first_name">Change first name</label><br/>
  <input type="string" name="first_name" value="<%= @user.first_name %>" autofocus="true"/><br/>
  <label for="last_name">Change last name</label><br/>
  <input type="string" name="last_name" value="<%= @user.last_name %>" /><br/>
  <label for="email">Change e-mail address</label><br/>
  <input type="string" name="email" value="<%= @user.email %>" /><br/>
  <input type="hidden" name="_method" value="put">
  <button>Submit</button>
</form>