<!-- <div class="brown-div">
<%= render partial: "shared/navbar" %>
</div> -->

<section class="span12 content">
  <div class="white">

    <header><h1>Update account</h1></header>

    <!-- Displays errors in creating an account -->
    <% unless @user.nil? %>
      <% if @user.errors.any? %>
        <h2>Please resolve the following <%= pluralize(@user.errors.count, "error") %>:</h2>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      <% end %>
    <% end %>

    <!-- Update Account -->
    <form action="/users/<%= @user.username %>" method="post">
      <p>
        <label for="first_name">Change first name</label>
        <input type="string" name="first_name" value="<%= @user.first_name %>" autofocus="true"/>
      </p>
      <p>
        <label for="last_name">Change last name</label>
        <input type="string" name="last_name" value="<%= @user.last_name %>" />
      </p>
      <p>
        <label for="email">Change e-mail address</label>
        <input type="string" name="email" value="<%= @user.email %>" />
      </p>
      <p>
        <input type="hidden" name="_method" value="put">
        <button class="btn">Submit</button>
      </p>
    </form>

    <!-- Delete Account -->
    <form action="/users/<%= @user.username %>" method="post">
      <input type="hidden" name="_method" value="delete" />
      <button class="btn">Delete Account</button>
    </form>

  </div>
</section>