<!-- <div class="brown-div">
<%= render partial: "home_navbar" %>
</div> -->

<div class="span12">
  <header><h1 class="text-left">Welcome, <%= @user.first_name %>!</h1></header>

  <section class="span6">
    <% if @recipients.any? %>
      <header><h2>Gift Recipients</h2></header>
      <ul>
        <% @recipients.each do |recipient| %>
          <li>
            <%= link_to recipient.name, "/users/#{@user.username}/recipients/#{recipient.id}" %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <header><h3>You have no gift recipients</h3></header>
    <% end %>
    <a href="/users/<%= @user.username %>/recipients/new" class="btn">Create a new recipient</a></div>
  </section>

  <section class="span6">
    <% if @gifts.any? %>
      <header><h2>Potential Gifts</h2></header>
      <ul>
        <% @gifts.each do |gift| %>
          <li>
            <%= link_to gift.name, "/users/#{@user.username}/gifts/#{gift.id}" %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <header><h3>You have no potential gifts</h3></header>
    <% end %>
    <a href="/users/<%= @user.username %>/gifts" class="btn">Find gifts</a>
  </section>
</div>