<h1><%= @recipient.name %></h1>

<a href="/users/<%= @user.username %>/recipients/<%= @recipient.id %>/edit">Edit recipient</a><br/>
<form action="/users/<%= @user.username %>/recipients/<%= @recipient.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button>Delete Recipient</button>
</form>

<a href="/users/<%= @user.username %>">Back to index</a>

<% if @recipient.birthday? %>
  <h2>Birthday: <%= "#{@recipient.birthday.month}/#{@recipient.birthday.day}/#{@recipient.birthday.year}" %></h2>
  <h3>You have <%= @time_until_next_birthday %> days until <%= @recipient.name %>'s next birthday!</h3>
<% else %>
  <h2>Birthday: unknown</h2>
<% end %>
<h3>Potential Gifts:</h3>
<ul>
  <% @recipient.gifts.each do |gift| %>
    <li>
      <%= gift.name %>
    </li>
  <% end %>
</ul>