<!-- <div class="brown-div">
<%= render partial: "shared/navbar" %>
</div> -->

<section class="span12 content">
  <header>
    <h1><%= @recipient.name %></h1>
    <a href="/users/<%= @user.username %>/recipients/<%= @recipient.id %>/edit">Edit recipient</a>
  </header>

  <article>
      <% if @recipient.birthday? %>
        <header><h2>Birthday: <%= "#{@recipient.birthday.month}/#{@recipient.birthday.day}/#{@recipient.birthday.year}" %></h2></header>
        <h3>You have <%= @time_until_next_birthday %> days until <%= @recipient.name %>'s next birthday!</h3>
      <% else %>
        <header><h2>Birthday: unknown</h2></header>
      <% end %>
  </article>

  <% if @recipient.gifts.any? %>
    <header><h3>Potential Gifts</h3></header>
    <ul>
      <% @recipient.gifts.each do |gift| %>
        <li>
          <a href="/users/<%= @user.username %>/gifts/<%= gift.id %>"><%= gift.name %></a>
        </li>
      <% end %>
    </ul>
  <% else %>
    <header><h3>Potential Gifts</h3></header>
    <h4>none</h4>
  <% end %>

  <%= render partial: "edit_delete" %>
</section>