<a href="/users/<%= @user.username %>">Back to index</a>

<h1><%= @recipient.name %></h1>

<a href="/users/<%= @user.username %>/recipients/<%= @recipient.id %>/edit">Edit recipient</a><br/>
<form action="/users/<%= @user.username %>/recipients/<%= @recipient.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button>Delete Recipient</button>
</form>

<% if @recipient.birthday? %>
  <h2>Birthday: <%= "#{@recipient.birthday.month}/#{@recipient.birthday.day}/#{@recipient.birthday.year}" %></h2>
  <h3>You have <%= @time_until_next_birthday %> days until <%= @recipient.name %>'s next birthday!</h3>
<% else %>
  <h2>Birthday: unknown</h2>
<% end %>

<% if @recipient.gifts.any? %>
  <h3>Potential Gifts:</h3>
  <ul>
    <% @recipient.gifts.each do |gift| %>
      <li>
        <a href="/users/<%= @user.username %>/gifts/<%= gift.id %>"><%= gift.name %></a>
      </li>
    <% end %>
  </ul>
<% else %>
  <h3>Potential Gifts: none</h3>
<% end %>

<a href="/users/<%= @user.username %>/gifts">Find gifts</a>