<!-- Saves gift to database -->
<form action="/users/<%= @user.username %>/gifts" method="post">
  <p>
    <label>Select a gift recipient</label>
    <select name="recipient_id">
      <option value="none">---</option>
      <% @user.recipients.each do |recipient| %>
        <option value="<%= recipient.id %>">
          <%= recipient.name %>
        </option>
      <% end %>
    </select>
  </p>
    <input type='hidden' value="<%= @result.item_attributes.title %>" name="name" />
    <input type='hidden' value="<%= @result.item_attributes.product_group %>" name="category" />
    <input type='hidden' value="<%= @image_url %>" name="image" />
    <input type='hidden' value="<%= @price %>" name="price" />
    <input type='hidden' value="<%= @url %>" name="url" />
    <button class="btn">Add gift</button>
</form>