<div class="brown-div">
<%= render partial: "shared/navbar" %>
</div>

<div class="blue-div">
<h1><%= @result.item_attributes.title %></h1>

<ul>
  <img src="<%= @image_url %>" alt="<%= @result.item_attributes.title %> image"/>
  <li>Category: <%= @result.item_attributes.product_group %></li>
  <li>Price: <%= @price %></li>
  <li><a href="<%= @url %>" target="_blank">Click to view product on Amazon!</a></li>
</ul>

<%= render partial: "add_gift" %>
</div>