<h1>Search for a gift</h1>

<form action="/users/<%= @user.username %>/gifts/new" method="get">
  <select name="category">
    <option value="All">All</option>
    <option value="Books">Books</option>
  </select>
  <input type="string" name="name" />
  <button>Search</button>
</form>

<% unless @results.nil? %>
  <h4>Showing <%= @results.count %> results</h4>
  <ol>
    <% @results.each do |result| %>
      <li>
        <a href=""><%= result.item_attributes.title %></a>
        <ul>
          <li>Category: <%= result.item_attributes.product_group %></li>
          <li>Price: <%= result.item_attributes.list_price %></li>
          <li>***<%= result.item_attributes %></li>
        </ul>
      </li>
    <% end %>
  </ol>
<% end %>