<%= render partial: "shared/navbar" %>

<div class="brown-div">
<h1><%= @gift.name %></h1>
</div>

<div class="blue-div">
<ul>
  <img src="<%= @gift.image %>" alt="<%= @gift.name %> image"/>
  <li>Category: <%= @gift.category %></li>
  <li>Price: <%= @gift.price %></li>
  <li><a href="<%= @gift.url %>" target="_blank">Click to view product on Amazon!</a></li>
  <% if @recipient == nil %>
    <li>Intended Gift Recipient: none</li>
  <% else %>
    <li>Intended Gift Recipient: <a href="/users/<%= @user.username %>/recipients/<%= @recipient.id %>"><%= @recipient.name %></a></li>
  <% end %>
  <li>Rating: <%= @gift.rating %><%= button_to "+1", edit_gift_path(rating: "up") %><%= button_to "-1", edit_gift_path(rating: "down") %></li>
</ul>

<%= render partial: "change_delete" %>
</div>