<a href="/users/<%= @user.username %>">Back to index</a>

<h1><%= @gift.name %></h1>
<ul>
  <img src="<%= @gift.image %>" alt="<%= @gift.name %> image"/>
  <li>Category: <%= @gift.category %></li>
  <li>Price: <%= @gift.price %></li>
  <li><a href="<%= @gift.url %>" target="_blank">Click to view product on Amazon!</a></li>
  <% if @recipient == nil %>
    <li>Intended Gift Recipient: none</li>
  <% else %>
    <li>Intended Gift Recipient: <%= @recipient.name %></li>
    <li>
      <form action="/users/<%= @user.username %>/gifts/<%= @gift.id %>" method="post">
        <label>Change gift recipient</label>
        <select name="new_recipient_id">
          <option value="none">---</option>
          <% @user.recipients.each do |recipient| %>
            <option value="<%= recipient.id %>">
              <%= recipient.name %>
            </option>
          <% end %>
        </select>
        <input type="hidden" name="_method" value="put">
      <button>Update</button>
      </form>
    </li>
  <% end %>
  <li>Rating: <%= @gift.rating %><%= button_to "+1", edit_gift_path(rating: "up") %><%= button_to "-1", edit_gift_path(rating: "down") %></li>
</ul>
<form action="/users/<%= @user.username %>/gifts/<%= @gift.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button>Delete Gift</button>
</form>