<h1><%= @gift.name %></h1>
<ul>
  <img src="<%= @gift.image %>" alt="<%= @gift.name %> image"/>
  <li>Category: <%= @gift.category %></li>
  <li>Price: <%= @gift.price %></li>
  <li><a href="<%= @gift.url %>" target="_blank">Click to view product on Amazon!</a></li>
</ul>